/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    overflow-y: scroll; /* Permitir desplazamiento vertical */
    cursor: none;
}
body::-webkit-scrollbar {
    display: none;
}
header {
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    opacity: 0;
    background-image: url('bgif.webm'); /* Ruta de tu GIF de fondo */
    background-size: cover;
    background-position: center center;
}

/* Superposición semitransparente */
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: -1;
    backdrop-filter: blur(10px); /* Aplicar desenfoque al fondo detrás del elemento */
}

.bgif {
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
    opacity: 15%;
    object-fit: fill; 
    position: absolute;
    filter: blur(29px);
}

#circle2 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    backdrop-filter: invert(100%);
    opacity: 100%;
    position: absolute;
    z-index: 999;
    transform: translateY(-100%) translateX(-100%);
    animation: enter 1s ease-out;
}

#circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 90%;
    -webkit-mask:radial-gradient(circle at 50% 50%, #fff , transparent 200%);
    mask:radial-gradient(circle at 50% 50%, #fff , transparent 200%);
    backdrop-filter: invert(80%) blur(1px);
    position: absolute;
    z-index: 999;
    transform: translateY(-100%) translateX(-100%);
    animation: enter 1s ease-out;
}


.contenido {
    width: 100%;
    height: 100vh;
    display: flex;
    opacity: 0;
    align-items: center;
    position: absolute;
    transition: opacity 1s ease-in-out;
}

.mostrar {
    opacity: 1;
}

.nombre {
    font-size: 5rem;
    margin: 0;
    mix-blend-mode: difference;
    transform: translateY(-100%);
    animation: slideIn 1.5s ease-in-out forwards;
    filter: blur(10px); /* Aplicar desenfoque inicial */
}

@keyframes slideIn {
    to {
        transform: translateY(0);
        filter: blur(0);
    }
}

.texto-adicional {
    font-size: 1.5rem;
    align-items: center;
    opacity: 0;
    animation: fadeInText 1s ease-in-out forwards 1s; /* Aparecer después de 2 segundos */
}

@keyframes fadeInText {
    to {
        opacity: 1;
    }
}

.flecha {
    margin-top: 2rem;
    opacity: 0;
    animation: fadeInText 1s ease-in-out forwards 1s, bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

/* Fondo de animación */
.fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

body.loaded header {
    opacity: 1;
}

/* Menú de navegación */
nav {
    background-color: #444;
}

