input[type=radio] {
    display: none;
  }

.card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
}

.container4 {
	text-align: center;
	align-self: middle;
	margin: auto;
	height: auto;
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    height: 300px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards {
position: relative;
width: 100%;
height: 100%;
margin-bottom: 20px;
}

.cards img {
width: 100%;
height: 100%;
border-radius: 5px;

}

#item-1:checked ~ .cards #video-3, #item-2:checked ~ .cards #video-1, #item-3:checked ~ .cards #video-2 {
transform: translatex(-60%) scale(.8);
opacity: .5;
z-index: 0;
}

#item-1:checked ~ .cards #video-2, #item-2:checked ~ .cards #video-3, #item-3:checked ~ .cards #video-1 {
transform: translatex(60%) scale(.8);
opacity: .5;
z-index: 0;
}

#item-1:checked ~ .cards #video-1, #item-2:checked ~ .cards #video-2, #item-3:checked ~ .cards #video-3 {
transform: translatex(0) scale(1);
opacity: 1;
z-index: 1;

}
.video-info {
    width: calc(100% - 32px);
    display: block;
  }
  
  .video-info .title {
    color: #403d40;
    font-size: 14px;
    line-height: 24px;
  }

#item-2:checked ~ .player #test {
    transform: translateY(0);
  }
  
  #item-2:checked ~ .player #test  {
    transform: translateY(-50px);
  }
  
  #item-3:checked ~ .player #test  {
    transform: translateY(-100px);
  }

  .player {
    background-color: rgba(243, 82, 82, 0.267);
    border-radius: 8px;
    width: 200px;
    padding: 5px 10px;
    transition: 0.2s;
  }

  .player:hover {
    background-color: rgba(243, 82, 82, 0.644);
    padding: 5px 10px;
  }
  
  .upper-part {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    height: 36px;
    overflow: hidden;
  }
  
  
  .video-info .title {
    width: 200px;
    color: #403d40;
    font-size: 14px;
    line-height: 50px;
  }
  

  .info-area {
    width: 100%;
    position: absolute;
    top: 0;
    align-items: center;
    transition: transform .4s ease-in;
  }